*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.navbar {
  height: 100px;
  padding: 0 10em;
}

.hero .hero-body {
  padding: 0.4rem;
  margin-left: 10em;
}

.app-logo {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5em;
}

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.icon--hidden {
  display: none;
}

.view--player {
  display: none;
}

/* grid */

.grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.grid-horizontal {
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
}

@-webkit-keyframes spinLoader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinLoader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grid {
  max-width: 1200px;
}

.grid__item {
  position: relative;
  width: 50%;
  min-width: 280px;
  margin: 0 0 2em;
  padding: 1em 4em 0;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco,
    'Bitstream Vera Sans Mono', monospace;
}

.grid-horizontal .grid__item {
  padding: 1em 2em 0;
}

.grid__item {
  opacity: 1;
}

.grid__item {
  display: inline-block;
  width: calc(33.33% - 0.4em);
  margin: 2em 0;
}

.grid__item .like-button {
  position: absolute;
  z-index: 1;
  top: 1.5em;
  left: 2.5em;
  font-size: 1em;
  padding: 8px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.like-button:hover {
  transform: scale(1.2);
}

.fab-container {
  position: fixed;
  right: 20%;
  bottom: 15%;
  z-index: 999;
}

.fab {
  position: fixed;
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-color: transparent;
  background-color: #5756d8;
  color: #fff;
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */
}

.chatbot-content {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 475px;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

.chatbot-inner-content {
  width: 100%;
  padding: 1em;
}

.chatbot-navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5756d8;
  color: #fff;
  height: 60px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.popover .popover-container {
  width: auto;
}

.popover :focus + .popover-container,
.popover:hover .popover-container {
  display: block !important;
  opacity: 0;
  transform: translate(-50%, -100%);
}

.popover-active {
  opacity: 1 !important;
  transform: translate(-90%, -100%) scale(1) !important;
}

.empty-content {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.icon-large {
  font-size: 5em;
}

.grid__link {
  position: relative;
  display: block;
  color: #474283;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.grid__link:hover {
  color: #474283;
  outline: none;
}

/* image wrap and deco lp */

.img-wrap {
  position: relative;
}

.lp {
  position: absolute;
}

.lp--grid {
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.grid__link:hover .lp {
  -webkit-transform: translate3d(20%, 0, 0);
  transform: translate3d(20%, 0, 0);
}

.img {
  display: block;
}

.img--grid {
  position: relative;
  max-width: 100%;
  box-shadow: 2px 16px 26px 0px rgba(36, 33, 69, 0.3);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.artist {
  font-size: 0.85em;
  font-weight: normal;
  margin: 1em 1em 0.5em;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.year {
  font-size: 0.85em;
  position: absolute;
  z-index: 10;
  right: 0;
  margin: -1em -1em 0 0;
  padding: 0.3em 0.5em;
  color: #fff;
  border: 2px solid;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.year--contrast {
  color: inherit;
}

/* Media Queries */

@media screen and (max-width: 55em) {
  .page-header {
    padding: 2em;
  }
  .page-header__title {
    font-size: 8vmin;
  }
  .page-header__subtitle {
    max-width: none;
  }
}

@media screen and (min-width: 52.5em) {
  .grid__item {
    width: 33.33%;
  }
}

@media screen and (max-width: 36em) {
  .grid__item {
    width: 100%;
    margin: 2em 0;
    padding: 1em 2em 0;
  }
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content, .signup-container {
  display: block;
  width: 400px;
  height: auto;
}
