body {background-color: white;}

.signupDiv {
    width: 35%;
    padding-left: 85px;
    padding-right: 84px;
    padding-top:20px;
    border-style: solid;
    margin-left:460px;

    background: white;

}

