<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Music Buddy Recommender</h1> <!-- we can change the name later -->
</head>
<body>
    <label for="msg"><b> Answer some questions to get music recommendations</b></label>
   <h4>Select your desired music genre</h4>
    <form>
       <select name="droptdown" id = "genre">
           <option value ="Country">Country</option>
           <option value="Hip-Hop">Hip-Hop</option>
           <option value="Rap">Rap</option>
       </select>
   </form>

    <br>
    <br>
</body>
</html>