{% extends "base.html" %}

{% block content %}
<h1>Welcome to Song Recommendation!</h1>
<form action="" method="post">
    Select Genre:
    <select name="" id="">
        <option>Country</option>
        <option>Rock</option>
        <option>Pop</option>
        <option>Latin</option>
    </select>
    <br>
    <button type="submit">Get Recommendation</button>
</form>

<div class="recommended-songs">
    <h1>Recommended Songs:</h1>
    <ul>
        <li>Blinding Lights</li>
        <li>Blinding Lights</li>
        <li>Blinding Lights</li>
    </ul>
</div>
{% endblock %}