{% extends "base.html" %}

{% block content %}
<div class="hero bg-gray">
    <div class="hero-body">
        <h1>Liked songs</h1>
        <p>Library of liked songs</p>
    </div>
</div>

<main>
    <div class="view view--grid view--current">
        <ul class="grid">
            {% for track in data %}
            <li class="grid__item">
                <a class="grid__link" href="{{ track['track_url'] }}">
                    <div class="img-wrap img-wrap--grid">
                        <svg class="lp lp--grid">
                            <use xlink:href="#icon-lp-mini"></use>
                        </svg>
                        <img class="img img--grid" src="{{ track['album_cover_image_url']}}" alt="album1" />
                    </div>
                    <span class="year">{{ track['album_release_date'] }}</span>
                    <h2 class="artist">
                        {% for artist in track["artists"] %}
                        <span>{{ artist }}, </span>
                        {% endfor %}
                    </h2>
                    <h3 class="title">{{ track['track_name'] }}</h3>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}